*,
html 
{
    margin: 0px;
    padding: 0px;
    font-family: raleway;
}
ul
{
	list-style: none;
    font-family: raleway;
}

.navContainer 
{
    background: #EEECEA;
    font-family: raleway;
    padding: 5px;
}
.navContainer nav {
    max-width: 920px;
    margin: auto;
}
.navContainer nav >ul >li
{
	display: inline-block;
}
.navContainer nav li >a {
    display: block;
    position: relative;
    font-family: raleway;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    min-width: 96px;
    background: #f0f0f0;
    color: #555;
    text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

nav >ul >li >ul 
{
    position: absolute;
    border: 1px solid #16acff;
    display: none;
}

nav >ul >li >ul >li >ul,
nav >ul >li >ul >li >ul>li>ul {
    position: absolute;
    left: 100%;
    width: 140px;
    top: 0px;
    display: none;
    z-index: 9999999;
    border: 1px solid #16acff;
}

nav >ul >li:hover >ul,
nav >ul >li >ul >li:hover >ul,
nav >ul >li >ul >li>ul>li:hover ul 
{
    display: block;
}