#box
	{
	    width: 20px;
		height: 20px;
		background: orange;
		position: fixed;
		left: 1235px;
		top: 0;
		z-index; 9999;
		border-radius: 10px;
		color: white;
	}
	
	#notify
	{
	    width: 200px;
		height: 50px;
		position: fixed;
		left: 1205px;
		margin-top: 8px;
		color: green;
		border-radius: 20px;
	}
	
	#number
	{
	    text-align: center;
	}











